:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: var(--body-bg-color);
    margin-top: 30px;
}
.canto-icon {
    background: var(--bg-cards);
    width: 348px;
    height: 292px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 40px;
    left: 40px;
    border-radius: 20px;
    color: var(--text-color);
}
.canto-icon img {
    border-radius: 50%;
    width: 140px;
    border: 1px solid green;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ende {
    background: var(--bg-cards);
    width: 348px;
    height: 348px;
    position: absolute;
    top: 370px;
    left: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    color: var(--text-color);
}
.ende li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
}
.ende  {
    display: flex;
    flex-direction: column;
}
.tec {
    background: var(--bg-cards);
    width: 348px;
    height: 120px;
    color: var(--text-color);
    
    position: absolute;
    top: 740px;
    left: 40px;
    border-radius: 20px;
}
.tec .p1 {
    display: flex;
    flex-direction: row;
}
.ess {
    width: 348px;
    height: 100px;
    background: var(--bg-cards);
    color: var(--text-color);
    border-radius: 20px;

    position: absolute;
    top: 870px;
    left: 40px;
}
.esc {
    width: 348px;
    height: 100px;
    background: var(--bg-cards);
    color: var(--text-color);
    border-radius: 20px;
    position: absolute;
    top: 1000px;
    left: 40px;
}
.mypg {
    width: 900px;
    height: 86px;
    background: var(--bg-cards);
    color: var(--text-color);
    border-radius: 20px;
    
    position: absolute;
    top: 40px;
    left: 420px;
}
